.wavingHand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 6s ease-in-out 1;
  cursor: default;
}

.wavingHand:hover {
  animation: wave-hover 1.5s ease-in-out 1;
}

@keyframes wave {
  0%,
  20%,
  100% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(14deg);
  }
  4% {
    transform: rotate(-8deg);
  }
  6% {
    transform: rotate(14deg);
  }
  8% {
    transform: rotate(-4deg);
  }
  10% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(0deg);
  }
}

@keyframes wave-hover {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
